@font-face{
	font-family: @regular-fontFamily;
	src: url(../fonts/DINPro-regular.ttf);
}
@font-face{
	font-family: @medium-fontFamily;
	src: url(../fonts/DINPro-medium.ttf);
}
@font-face{
	font-family: @bold-fontFamily;
	src: url(../fonts/DINPro-bold.ttf);
}